@import './components/nav.css';
@import './components/footer.css';

:root {
  --background: #151417;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  border: 5px yellow solid;
  width: 300px;
}

main {
  background-color: var(--background);
  height: 90vh;
}