nav {
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    color: white;
    list-style-type: none;
    margin: 0 auto;
    width: 50%;
    line-height: 50px;
    justify-content: space-around;
  }
