:root {
  --transitions-duration: 0.2s;
  --colors-primary:#f2f2f2;
}

nav {
    display: flex;
    height: 50px;
    background-color:black;
  }
  
  nav > ul {
    display: flex;
    border: 1px black solid;
    margin: 0 auto;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  li > a {
    color: #8f9ba8;
    transition: color var(--transitions-duration: 0.2s;) ease-in-out;
    text-decoration: none;
  }

  
  li > a:hover {
    color: var(--colors-primary);
  }